*{
    background-color: black;
}

/* body {
  background-color: black;
} */

footer{
    height: 5vh;
    margin: 0 1rem;
}

footer p{
    text-align: center;
    color: blanchedalmond;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}