.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
color: whitesmoke;
font-family: "Orbitron", serif;
font-optical-sizing: auto;
font-weight: 200;
font-style: normal;
color: burlywood;
text-align: center;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}