.menu{
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

li{
  float: left;
  padding: 30px 30px;
}

.link{
  color: inherit;
  text-decoration: inherit;
}

.navLink{
  text-decoration: underline solid transparent;
  transition: text-decoration 0.8s ease;
  color: wheat;
  padding: 5px;
  margin-top: 15px;
  font-family: "Climate Crisis", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}
.navLink:hover {
   text-decoration: underline solid Currentcolor;
   color:teal;
}

@media only screen and (max-width: 930px) {
  li{padding: 15px 15px}
  li{float: none;}
}

@media only screen and (max-width: 830px) {
  li{padding: 5px 5px}
  li{float: none;}
}

@media only screen and (max-width: 730px) {
  li{padding: 3px 3px}
  li{float: none;}
}

@media only screen and (max-width: 600px) {
  li{float: none;}
  .navLink{padding: 1px;}
}

.header__icon {
  width: 150px;
  cursor: pointer;
}
